<!DOCTYPE html>
<html>
<head>
  <% include partials/head %>
</head>
<body>
      <form method='post' action='/logout'>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <p class="navbar-text navbar-right">You are signed in as <%=user.email%>
               <button type='submit'>log out</button></p> 
            <h2>Lets Make an Idea</h2>
      </form>
    </div>
    <div></div>
</nav>
  <!-- <div class="inout-group">
    <input type='text' class="form-control" placeholder='what is your project?'>
  </div> -->
  <div>
    <form method="post" action="/idea">
      <input type="text" name ="idea[titles]" placeholder="what is your idea?">
      <input type="url" name ="idea[images]" placeholder="Put imag url here">
      <button>add</button> 
    </form>

   <!--  <img src='http://blog.builddirect.com/wp-content/uploads/2011/07/Desk-top.jpg' id="desktop" class="img-responsive center-block img-rounded" alt="Responsive image"> -->
    <div>  
      <!-- iterate through ideas -->
      <% user.ideas.forEach(function(idea) { %>
        <h3 class="bootstrapclass"><%= idea.titles %><form method="post" action="/User/<%=user._id%>/idea/<%=idea.id%>?_method=delete"> <button>&times;</button>
      </form>
      </h3>
        <!-- iterate through an idea's images -->
        <% idea.images.forEach(function(imageSrc) { %>
          <img src="<%= imageSrc %>" id="pic" class="img-thumbnail">
        <% }); %>
      <% }); %>
    
    </div>

        <!-- placeholder -->
    <tr id="imag-placeholder" class="text"></tr>

  </div>

  <!-- template -->
  <script type="text/template" id="imag-template">
      <td class="images">
        {{= imag }}
      </td>
  </script>

</body>
</html>





